<header class="max-w-[1440px] bg-slate-400 mx-auto p-8 flex justify-between items-center">
    <img class="w-auto h-[30px]" src="/logo.svg" alt="Logo InfoJobs" />
    <a class="text-lg font-medium bg-primary hover:saturate-150 transition text-white rounded-full px-4 py-2"

    href="https://www.instagram.com/marlon_sac/">New Account</a>
</header>