---
import SearchIcon from "src/icons/Search.astro";
---

<section class="mx-auto max-w-7xl px-4 w-full">
 <div class="bg-hero-pattern mx-auto w-full rounded-3xl px-4 py-6">
   <h1 class="text-black/80 font-semibold tracking-[0.35px]
        text-2xl text-center pb-4"
    >
        Find your next job</h1>
   <search class="bg-white rounded-3xl p-4">
     <form>
     <button class="rounded-full font-medium bg-accet 
     hover:saturate-150 transition text-white px-4 py-2 inline-flex
     gap-x-2 justify-center items-center w-full"
     >
        <SearchIcon />
        Search now!
     </button>
   </form>
   </search>
   
</section>